  <ul class="list-group text1">
      <li class="list-group-item font-weight-bold">Venta 194 - 2018-11-07 10:51</li>
      <li class="list-group-item font-weight-bold" style="border-bottom:none !important">Tienda: Esquina Caliente</li>
     
     <!-- Agregar Cliente -->
     <li class="list-group-item pt-0" style="border-top:none !important">
      <div class="m-0 p-0 row" >
        <div class="m-0 p-0 col-10 pr-2">
          <div class="input-group">
            <input type="text" class="form-control text1" placeholder="Cliente" aria-describedby="button-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary botonnaranja2" type="button" id="button-addon2"><i class="fas fa-check"></i></button>
            </div>
          </div>
        </div>
        <div class="m-0 p-0 col-2">
          <button class="btn btn-outline-secondary botonnaranja2" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </li>
    
    
    <!-- item de compra -->
    <li class="list-group-item p-0 px-3">
      <div class="row m-0 p-0">
        <div class="col-1 m-0 p-0 my-auto">
          1
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          x
        </div>
        <div class="col-6 m-0 p-0 my-auto  text-truncate">
          Jugos Naturales
        </div>
        <div class="col-3 m-0 p-0 my-auto pr-3 text-right">
          7,00
        </div>
        <div class="col-1 m-0 p-0 text4">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </li>
    <li class="list-group-item  p-0 px-3">
      <div class="row m-0 p-0">
        <div class="col-1 m-0 p-0 my-auto">
          1
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          x
        </div>
        <div class="col-6 m-0 p-0 my-auto text-truncate">
          Café americano
        </div>
        <div class="col-3 m-0 p-0 my-auto pr-3 text-right">
          5,00
        </div>
        <div class="col-1 m-0 p-0 text4">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </li>
    <li class="list-group-item  p-0 px-3">
      <div class="row m-0 p-0">
        <div class="col-1 m-0 p-0 my-auto">
          1
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          x
        </div>
        <div class="col-6 m-0 p-0 my-auto text-truncate">
          Sandwich de jamón y queso
        </div>
        <div class="col-3 m-0 p-0 my-auto pr-3 text-right">
          10,00
        </div>
        <div class="col-1 m-0 p-0 text4">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </li>
    <li class="list-group-item  p-0 px-3">
      <div class="row m-0 p-0">
        <div class="col-1 m-0 p-0 my-auto">
          1
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          x
        </div>
        <div class="col-6 m-0 p-0 my-auto text-truncate">
          Café con leche
        </div>
        <div class="col-3 m-0 p-0 my-auto pr-3 text-right">
          7,00
        </div>
        <div class="col-1 m-0 p-0 text4">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </li>
    
    
    <!-- TOTAL -->
    <li class="list-group-item  p-0 px-3 py-1" style="background-color:#3d5b9b;color: white;">
      <div class="row m-0 p-0">
        <div class="col-1 m-0 p-0 my-auto">
          12
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          
        </div>
        <div class="col-10 m-0 p-0 my-auto">
          Articulos
        </div>
      </div>
      <div class="row m-0 p-0 font-weight-bold">
        <div class="col-8 m-0 p-0 my-auto">
          TOTAL SOLES
        </div>
        <div class="col-3 m-0 p-0 my-auto pr-2 text-right">
          12,00
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          /S.
        </div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-8 m-0 p-0 my-auto">
          Incluye IVA (18%)
        </div>
        <div class="col-3 m-0 p-0 my-auto pr-2 text-right">
          2,16
        </div>
        <div class="col-1 m-0 p-0 my-auto">
          /S.
        </div>
      </div>
      
    </li>
    
    <!-- Agregar Producto -->
    <li class="list-group-item pr-3 py-2" style="border-bottom:none !important">
      <div class="input-group">
        <input type="text" class="form-control text1" placeholder="Añadir un producto" aria-describedby="button-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary botonnaranja2" type="button" id="button-addon2"><i class="fas fa-check"></i></button>
        </div>
      </div>
    </li>
    
    <!-- Boton de pago -->
    <li class="list-group-item pr-3 py-1" style="border-top:none !important; border-bottom:none !important">
      <button style="width:100% !important" class="btn btn-outline-secondary botonnaranja2" type="button" id="button-addon2">
        <i class="far fa-credit-card mr-1"></i>
        Pago
      </button>
    </li>
    
    <!-- Comentarios -->
    <li class="list-group-item pr-3 py-2" style="border-top:none !important">
      <div class="input-group">
        <input type="text" class="form-control text1" placeholder="Comentarios" aria-describedby="button-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary botonnaranja2" type="button" id="button-addon2"><i class="fas fa-check"></i></button>
        </div>
      </div>
    </li>
  </ul>
