
  <div class="row icono3 text-center m-0" style="color: #ff670b">
    <i class="fas fa-vihara col py-md-3  py-3 px-0"></i>
  </div>
  <div class="row m-0 botonazul text-center">
    <i class="fas fa-plus col py-md-3  py-3 px-0"></i>
  </div>
  <div class="row m-0 botonazul text-center">
    <i class="fas fa-list-ul col py-md-3  py-3 px-0"></i>
  </div>
  <div class="row m-0 botonazul text-center">
    <i class="fas fa-users col py-md-3  py-3 px-0"></i>
  </div>
  <div class="row m-0 botonazul text-center">
  <i class="fas fa-utensils col py-md-3  py-3 px-0"></i>
  </div>
  <div class="row m-0 botonazul text-center">
    <i class="fas fa-sign-out-alt col py-md-3  py-3 px-0"></i>
  </div>
  
