<div class="row my-2 m-0">
  <div class="col-md-1 p-0 pl-2 col-2">
    <button class="btn btn-outline-secondary botonnaranja" type="button" id="button-addon3"><i class="fas fa-bars"></i></button>

  </div>
  <div class="col-md-5 col-10">
    <div class="input-group">
      <input type="text" class="form-control text1" placeholder="Nombre del producto" aria-describedby="button-addon2">
      <div class="input-group-append">
      <button class="btn btn-outline-secondary botonnaranja" type="button" id="button-addon2"><i class="fas fa-check"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-4 py-3 p-0 text-right my-auto text1" style="color:lightgrey;display: inline-block;">
  </div>
  <div class="col-md-2 col-4 p-0 text-right my-auto text1" style="color:lightgrey;display: inline-block;">
    <i class="fas fa-question"></i>
    <p style="display: inline-block;"> Ayuda </p>
  </div>
  <div class="col-md-2 pr-2 col-4 p-0 text-right text1 my-auto" style="color:lightgrey;display: inline-block;">
    <i class="fas fa-envelope"></i>
    <p style="display: inline-block;"> Contacto </p>
  </div>
</div>